---
import CollageImage from "./CollageImage.astro";

const props = Astro.props;
---

<div class="collage hidden">
  <div class="container mx-auto text-center font-bold mt-20 z-10">
    <h2 class="text-5xl lg:text-6xl 2xl:text-7xl mb-5">Descubre tu próxima</h2>
    <h3 class={`collage__subtitle text-4xl lg:text-6xl 2xl:text-7xl`} style={`color:${props.color};`}>{props.subtitle}</h3>
  </div>

  <div class="collage__items absolute grid grid-cols-2 md:grid-cols-7 gap-4 -mx-32 mt-6">
    <slot />
  </div>
</div>
